@import url('https://fonts.googleapis.com/css2?family=Tiro+Kannada:ital@0;1&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Tiro Kannada', serif;
}

body {
  background: black;

}

h1, h4, p, a {
  color: antiquewhite;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(12, 107, 126);
  color: black;
  border: 1px solid whitesmoke;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: rgba(255, 255, 255, 0.2);
  background: transparent;
  color: #fff;

}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}